<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="Persist Security Info=False; User ID=invoice; Password=sqlcontrol9; Database=Invoice; Server=.\SQLEXPRESS; Connect Timeout=60" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0"/>
        <customErrors defaultRedirect="~/Error.aspx"/>
        <authentication mode="Forms">
            <forms loginUrl="~/Default.aspx" timeout="2880"/>
        </authentication>
	<sessionState mode="InProc" cookieless="false" timeout="45"/>
        <membership>
            <providers>
                <clear/>
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
            </providers>
        </membership>
        <profile>
            <providers>
                <clear/>
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
            </providers>
            <properties>
                <add name="PrincipalGuid"/>
                <add name="PrincipalCompanyGuid"/>
                <add name="PrincipalCompanyName"/>
                <add name="PrincipalCompanyNumber"/>
                <add name="PrincipalCompanyPhone"/>
                <add name="PrincipalCompanyFax"/>
            </properties>
        </profile>
        <roleManager enabled="true">
            <providers>
                <clear/>
                <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
                <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
            </providers>
        </roleManager>
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-TW" uiCulture="zh-TW"/>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
