*
{
    margin: 0 auto 0 auto;
    text-align: left;
}

body
{
    margin: 0;
    padding: 0;
    background-image: url(../Images/error_bg.png);
    text-align: left;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 13px;
    color: #F1F5F8;
}

html, body
{
    text-align: center;
}

p
{
    text-align: left;
}

.dotted_line
{
    background-image: url(../Images/error_line.png);
    background-repeat: no-repeat;
    clear: both;
    width: 916px;
    height: 5px;
}

#main
{
    width: 916px;
    margin-top: 30px;
    margin-bottom: 15px;
}


#main .main_left
{
    width: 458px;
    background-repeat: no-repeat;
    text-align: center;
    float: left;
}

#main .main_left h1
{
    padding-top: 20px;
    padding-left: 40px;
    color: #FFFFFF;
    font-size: 28px;
}

#main .main_left h3
{
    padding-bottom: 20px;
    padding-left: 50px;
    color: #C9E1FA;
    font-size: 18px;
}

#main .main_right
{
    padding-left: 0px;
    height: auto;
    width: 458px;
    background-repeat: repeat-y;
    color: #FFFFFF;
    padding-bottom: 20px;
    float: left;
}

#main .main_right h2
{
    font: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-bottom: 15px;
}

#main .main_right p
{
    line-height: 20px;
}

#page
{
    margin: 0 auto 0 auto;
    margin-top: 35px;
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;
    width: 921px;
}

#footer
{
    display: block;
    width: 921px;
    height: 74px;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
}

#footer p
{
    padding-right: 20px;
    text-align: center;
}

#footer, #footer a, #footer a:visited
{
    color: #FFFFFF;
}

#footer a:hover
{
    text-decoration: none;
    color: #C9E1FA;
}